@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.cdnfonts.com/css/pirata-one');
@font-face {font-family: 'diablo' ; src: url('./assets/fonts/Diablo.ttf');}
@font-face {font-family: 'lastEpoch' ; src: url('./assets/fonts/LastEpoch.ttf');}
@font-face {font-family: 'pathOfExile' ; src: url('./assets/fonts/PathOfExile.ttf');}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(255, 255, 255, 0.1);
  --gold-shadow: 0px 20px 100px -10px rgba(255, 215, 0, 0.5);
  --maxroll-color-dark-3: 10,10,10,0.9;
  --maxroll-color-dark-5: 43,44,44;
  --gold-gradient: linear-gradient(360deg, rgb(255, 255, 255) 0%, #ffd900 100%);
  --filter-blur:  blur(100px);
}

* {
  scroll-behavior: smooth;
}

section {
  min-height: 800px;
}


.backgroundImage{
  background-image: url("./assets/diabloIcon.svg");
  background-repeat: repeat;
  background-color: #000000;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.backgroundImageItemsDiablo{
  background-image: url("./assets/diablo4items.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.backgroundImageLastEpoch{
  background-image: url("./assets/poe2fundo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.backgroundImagePathExile{
  background-image: url("./assets/pathExile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.backgroundImageTestemonial{
  background-image: url("./assets/BackgroundItems.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff !important;
  height: 100vh;
}

.animationQuestion {
  animation: fadeIn 1s;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    rgba(255, 255, 255, 0) -278.56%,
    rgba(109, 109, 109, 0.5) -78.47%,
    rgba(17, 16, 29, 1) 91.61%);

}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101de7 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes cssAnimation_0 {
  from {
    background-color: rgb(87, 36, 36);
  }

  to {
    background-color: rgba(55, 55, 55, 0.7);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.card_image {
  background-image: url('./assets/diabloIcon.svg') ;
  background-size: 20px;
  background-repeat: repeat;
}

.backgroundShop_item_bg{
  background-image: url("./assets/shop_item_bg.webp");
  background-repeat: no-repeat;
}

.white__gradient {
  background-size: 75px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.gold-gradient {
  background: linear-gradient(360deg, rgba(255, 215, 0, 0) 0%, #ffd700 100%);
  filter: blur(100px);

}

.bg-black-item {
  border: 4px outset rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow:
    inset -52px 20px 36px 32px rgba(85, 67, 67, 0.356),
    inset 0px 100px 55px 0px rgba(75, 71, 71, 0.644),
    inset 2px 25px 12px 0px rgb(255, 81, 0),
    inset 2px 3px 3px 0px rgb(87, 102, 1);
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 459ms linear;
  backdrop-filter: grayscale(100%);
  -webkit-backdrop-filter: grayscale(100%);
}

.bg-black-items {
  /* background-image: url('./assets/diabloIcon.svg') ; */
  background-size: 20px;
  background-repeat: repeat;
  border: 4px outset rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow:
    inset -52px 20px 36px 32px rgba(85, 67, 67, 0.356),
    inset 0px 100px 55px 0px rgba(75, 71, 71, 0.644),
    inset 2px 25px 12px 0px rgb(255, 81, 0),
    inset 2px 3px 3px 0px rgb(87, 102, 1);
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 459ms linear;
  backdrop-filter: grayscale(100%);
  -webkit-backdrop-filter: grayscale(100%);

}

.bg-black-service {

  border: 4px outset rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow:
    inset -52px 20px 36px 32px rgba(85, 67, 67, 0.356),
    inset 0px 100px 55px 0px rgba(75, 71, 71, 0.644),
    inset 2px 25px 12px 0px rgb(255, 81, 0),
    inset 2px 3px 3px 0px rgb(87, 102, 1);
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 459ms linear;
  backdrop-filter: grayscale(100%);
  -webkit-backdrop-filter: grayscale(100%);

}

.bg-black-items:hover {
  background-color: rgba(117, 35, 35, 0.479);
  /* animation: cssAnimation_0 700ms infinite linear; */
}

.bg-card-items:hover {
  box-shadow: var(--gold-shadow);
}


.bg-card-items  {
position: relative;
box-sizing: border-box;
margin: 0;
padding: 10px 5px 8px;
background: rgb(var(--maxroll-color-dark-3));
border: 1px solid rgb(var(--maxroll-color-dark-5));
border-radius: 8px;
box-shadow: var(--card-shadow);
}

.bg-items-name-top  {
  background-image: url('./assets/dividerMore.webp') ;
  background-repeat: no-repeat;
  background-position: top;
}


.bg-items-name-bottom::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./assets/dividerMore.webp');
  background-repeat: no-repeat;
  transform: rotate(180deg);
  z-index: 0;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 1; /* Inicialmente definido como transparente */
  transition: opacity 1s ease; /* Adiciona uma transição suave */
}

.video.loaded {
  opacity: 1;
}